
<!--to display SearchBox and headings and categories-->
<div class="content">
  <div class="innercontent">
    <h1>Stunning free pictures</h1>
    <!--Heading-->
    <h3>
      Discover the 2.2 million images and videos shared by our generous
      community.
    </h3>
    <!--info about community-->
      <div class="searchbar">
        <div class="searchbaricon">
          <span class="material-icons icon">search</span>
        </div>
        <label>
          <input class="search"
                 type="text"
                 placeholder="Search For Vectors,Videos,Pictures">
        </label>
        <div class="container">
          <div  class="select-box">
            <label>
              <select>
                <option value="picture">picture</option>
                <option value="videos">videos</option>
                <option value="picture1">picture1</option>
                <option value="picture2">picture2</option>
              </select>
            </label>
          </div>
        </div>
      </div>
    <h5>
      Popular Images: christmas , autumn , christmas , covid , mask , november ,
      halloween , autumn , candle , winter , goose , coronavirus
    </h5>
    <!--category info-->
  </div>
  <!--to display images(content)-->
</div>
<div class="row">
  <div class="column">
    <div class="imgcontainer">
      <img src="https://i.ibb.co/YDsynYw/ms.jpg" alt="idea" />
      <div class="overlay">Mountains</div>
    </div>
    <div class="imgcontainer">
      <img src="https://i.ibb.co/pJYPkKj/5200.jpg" alt="naturetwo" />
      <div class="overlay">NAture</div>
    </div>
    <div class="imgcontainer">
      <img src="https://i.ibb.co/X5RNsGF/two.jpg" alt="nature" />
      <div class="overlay">NAture</div>
    </div>
    <div class="imgcontainer">
      <img
        src="https://i.ibb.co/kXjVvLt/structures-1000-secondary.jpg"
        alt="structure"
      />
      <div class="overlay">Structures</div>
    </div>
    <div class="imgcontainer">
      <img src="https://i.ibb.co/YDsynYw/ms.jpg" alt="idea" />
      <div class="overlay">Mountains</div>
    </div>
    <div class="imgcontainer">
      <img src="https://i.ibb.co/pJYPkKj/5200.jpg" alt="naturetwo" />
      <div class="overlay">NAture</div>
    </div>

  </div>
  <div class="column">
    <div class="imgcontainer">
      <img src="https://i.ibb.co/YDsynYw/ms.jpg" alt="idea" />
      <div class="overlay">Mountains</div>
    </div>

    <div class="imgcontainer">
      <img
        src="https://i.ibb.co/kXjVvLt/structures-1000-secondary.jpg"
        alt="structure"
      />
      <div class="overlay">Structures</div>
    </div>
    <div class="imgcontainer">
      <img src="https://i.ibb.co/X5RNsGF/two.jpg" alt="nature" />
      <div class="overlay">NAture</div>
    </div>
    <div class="imgcontainer">
      <img src="https://i.ibb.co/pJYPkKj/5200.jpg" alt="naturetwo" />
      <div class="overlay">NAture</div>
    </div>
    <div class="imgcontainer">
      <img
        src="https://i.ibb.co/yVXghf1/OLYMPUS-DIGITAL-CAMERA.jpg"
        alt="building"
      />
      <div class="overlay">Bird</div>
      </div>
  </div>
  <div class="column">
    <div class="imgcontainer">
      <img src="https://i.ibb.co/YDsynYw/ms.jpg" alt="idea" />
      <div class="overlay">Mountains</div>
    </div>
    <div class="imgcontainer">
      <img src="https://i.ibb.co/pJYPkKj/5200.jpg" alt="naturetwo" />
      <div class="overlay">NAture</div>
    </div>

    <div class="imgcontainer">
      <img src="https://i.ibb.co/X5RNsGF/two.jpg" alt="nature" />
      <div class="overlay">NAture</div>
    </div>
    <div class="imgcontainer">
      <img
        src="https://i.ibb.co/yVXghf1/OLYMPUS-DIGITAL-CAMERA.jpg"
        alt="building"
      />
      <div class="overlay">Bird</div>
      </div>
    <div class="imgcontainer">
      <img
        src="https://i.ibb.co/kXjVvLt/structures-1000-secondary.jpg"
        alt="structure"
      />
      <div class="overlay">Structures</div>
    </div>
  </div>
  <div class="column">

    <div class="imgcontainer">
      <img src="https://i.ibb.co/pJYPkKj/5200.jpg" alt="naturetwo" />
      <div class="overlay">NAture</div>
    </div>
    <div class="imgcontainer">
      <img
        src="https://i.ibb.co/kXjVvLt/structures-1000-secondary.jpg"
        alt="structure"
      />
      <div class="overlay">Structures</div>
    </div>
    <div class="imgcontainer">
      <img src="https://i.ibb.co/X5RNsGF/two.jpg" alt="nature" />
      <div class="overlay">NAture</div>
    </div>
    <div class="imgcontainer">
      <img
        src="https://i.ibb.co/yVXghf1/OLYMPUS-DIGITAL-CAMERA.jpg"
        alt="building"
      />
      <div class="overlay">Bird</div>
      </div>
    <div class="imgcontainer">
      <img src="https://i.ibb.co/YDsynYw/ms.jpg" alt="idea" />
      <div class="overlay">Mountains</div>
    </div>
  </div>
</div>
<div class="last">
  <!--Footer Information-->
  <button class="btn">
    <a style="color: white">Discover More</a></button
  ><!--Button To Search More-->
  <h1 class="footer">Free pictures and videos you can use anywhere</h1>
  <h5 class="footer">
    Pixabay is a creative advertising community that shares royalty-free images
    and videos. All content is released under the Pixabay license, which allows
    it to be used safely upon request or without credit to the artist, even for
    commercial purposes. Know more...
  </h5>
  <!--info about pixabay and licence-->
</div>

