<!--<div class="panel panel-primary">-->
<!--  <div class="panel-heading">Cse-c class Students</div>-->
<!--  <div class="panel-body">-->
<!--    <ul class="list-group">-->
<!--      <li class="list-group-item" *ngFor="let f of datas">-->
<!--        <div><p>Rollnumber:{{f.rollnumber }}</p>-->
<!--          <p>Name:{{f.name}}</p></div>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="row" style="padding: 3vw">-->
<!--    <ng-container *ngFor="let f of datas ; let i of images">-->
<!--      <div class="cols" style="padding: 2vw">-->
<!--      <mat-card class="example-card">-->
<!--&lt;!&ndash;        <h1> {{f.name}}</h1>&ndash;&gt;-->
<!--&lt;!&ndash;        <h2>{{f.rollnumber}}</h2>&ndash;&gt;-->
<!--        <mat-card-header>-->
<!--          <div mat-card-avatar class="example-header-image"></div>-->
<!--          <mat-card-title>-->
<!--            {{f.name}}-->
<!--          </mat-card-title>-->
<!--          <mat-card-subtitle></mat-card-subtitle>-->
<!--        </mat-card-header>-->
<!--        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
<!--        <mat-card-content>-->
<!--          <p>-->
<!--            {{f.rollnumber}}-->
<!--          </p>-->
<!--        </mat-card-content>-->
<!--      </mat-card></div>-->
<!--      </ng-container>-->
<!--  </div>-->


<!--<label for="in">-->
<!--  <input id="in" type="text" #data (keyup.enter)="posted(data)" >-->
<!--</label>-->
<ngx-loading-bar color="purple" height="4px"></ngx-loading-bar>
<a routerLink="/newproducts" mat-raised-button color="primary">New Products</a>
<div>
  <label>
    <input type="text" #input (keyup)="filter(input.value)" class="form-control" placeholder="search....">
  </label>

</div>
<table class="table">
  <tr>
    <th>Id</th>
    <th>category</th>
    <th>title</th>
    <th>price</th>
    <th>Option</th>
  </tr>
  <tr *ngFor="let p of datas">
    <td>{{p.id}}</td>
    <td>{{p.category}}</td>
    <td>{{p.title}}</td>
    <td>{{p.price}}</td>
    <td>
      <button mat-raised-button color="warn" (click)="del(p.id, p.title)">Delete</button>
    </td>
  </tr>
  <tr>
</table>

