<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
<form [formGroup]="form"  (ngSubmit)="login()">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input formControlName="name" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [pattern]="email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    <div class="alert-danger" *ngIf="username.touched && username.invalid">
    <div class="alert-danger" *ngIf="username.errors.required">Required</div>
      <div class="alert-danger" *ngIf="username.errors.minlength">minimum length 5</div>
      <div class="alert-danger" *ngIf="username.errors.nospace">Nospaces are allowed</div>
      <div class="alert-danger" *ngIf="username.errors.email">Invalid Email</div>
    </div>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
    <div class="alert-danger" *ngIf="password.touched && password.invalid">
      <div> <div class="alert-danger" *ngIf="password.errors.required">Required</div>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="password.invalid" >Submit</button>
</form>
  </div>
</div>
