<ngx-loading-bar color="purple" height="4px"></ngx-loading-bar>
<div class="row">
  <div class="col4">
  </div>
<div class="col-4">
  <mat-card class="example-card" style="width: 25vw">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>
        User: {{name}}
      </mat-card-title>
      <mat-card-subtitle>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Mail:{{email}}
      </p>
    </mat-card-content>
  </mat-card>
</div>
</div>

